<div class="row mt-3">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Breed</th>
          <th scope="col">Sub-breed</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dog of dogs, let i = index">
          <th scope="row" >{{i+1}}</th>
          <td>{{ dog | titlecase }}</td>
          <td>a</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>