<h1>Search: <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="animals.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            {{ termino }} was not found.
        </div>
    </div>
</div>

<div class="card-columns">
    <div class="card" *ngFor="let animal of animals; let i = index">
        <img class="card-img-top" [src]="animal.img" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{animal.title}}</h5>
            <p class="card-text">{{animal.description}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <a [routerLink]="['/animal', i]" class="btn btn-outline-primary btn-block">See more...</a>
    </div>
</div>
