<div class="row mt-5 center">
    <div class="col-8" *ngFor="let name of names.message">
        <h2> {{ name | titlecase}} </h2>
    </div>
    <br><br>


    <div class="card animated fadeIn fast m-2"  *ngFor="let image of images.message">

        <img class="card-img-top" style="width: 16rem; height: 16rem;" [src]="image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <!--<a [routerLink]="['/animal', i]" class="btn btn-outline-primary btn-block">See more...</a>-->
        <button type="button" class="btn btn-outline-primary btn-block">See more...</button>
    </div>
</div>