<div class="row mt-5 center">
  <h2> {{ dog.id | titlecase }} </h2>
</div>
<div>
  <h4 class="text-center py-1">Subreed: {{subBreeds.length}}</h4>
</div>


<div class="table-responsive">
  <table class="table justify-content-center">
    <ul class="list-group list-group-horizontal text-center">
      <li class="list-group-item" *ngFor="let subBreed of subBreeds, let i=index">
        <a class="dropdown-item" (click)="seeSubBreed(dog.id+'/'+ subBreed)">{{ subBreed | titlecase }}</a>
      </li>
    </ul>
  </table>
</div>





<!--<div class="row mt-5 center">

    <div class="card animated fadeIn fast m-2">

        <img class="card-img-fluid" style="width: 16rem; height: 16rem;" [src]="images.message" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div>-->

<div class="card mb-3 ">
  <div class="row center">
    <div class="col-md-4">
      <img class=" mx-auto d-block" [src]="images.message" style="width: 16rem; height: 16rem;"  alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{dog.id}}</h5>
        <p class="card-text">{{descriptions}}.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="button" class="btn btn-outline-primary ">See more...</button>
      </div>
    </div>
  </div>
</div>